:root {
    --input-placeholder-color: #676767;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.row {
    justify-content: left !important;
    padding-left: initial !important;
    border: initial !important;
}

.custom-select {color: var(--input-placeholder-color);}

input::-webkit-input-placeholder { color: var(--input-placeholder-color) !important;}

input::-ms-input-placeholder { color: var(--input-placeholder-color) !important;}

input::-moz-placeholder { color: var(--input-placeholder-color) !important;}

input:-moz-placeholder { color: var(--input-placeholder-color) !important;}

input::placeholder { color: var(--input-placeholder-color) !important;}

.table-wrapper {
    width: 100%;

    .table {
        display: table;

        thead th,
        tfoot th,
        tbody td {
            padding: 10px 16px;
        }
    }

    @media (max-width: 700px) {
        .table {
            display: block;
        }
    }
}
